# Data files
data/*.npy
data/*.pkl
*.pkl

# MLflow
mlruns/
mlartifacts/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
venv/
env/
ENV/
